<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">MauiApp1</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</li>
		<AuthorizeView Roles = "Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="AdminAccountManagement">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Account Management
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="MovieAdmin">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Movie Management
                    </NavLink>
                    </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles = "Customer">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="MovieCustomer">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Movie
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Deposit">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Deposit
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="BuyVip">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Buy Vip
                    </NavLink>
                    </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles = "Studio">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="MovieStudio">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Movie
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateStudio">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Create Movie
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="SalaryStudio">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Salary
                    </NavLink>
                    </li>
                    
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Profile">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @context.User.Identity.Name
                    </NavLink>
                    </li>
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="SignUp">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> SignUp
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
