<h3>Read Feed Back</h3>
@attribute [Authorize(Roles = "Admin")]
@page "/ReadFeedBack"

@if(feedbacks.Count == 0)
{
    <div>loading</div>
}
else
{
    @foreach (var item in feedbacks)
{
    <div>@item.Name</div>
     <div>@item.Email</div>
      <div>@item.Message</div>
}
}

<div class="button" style="margin:10px" @onclick="LoadMore">
							<a style="cursor: pointer;">Load More</a>
						</div>
@code{
    private List<FeedbackMessageModel> feedbacks = new();
    private int index = 1;

    protected override async Task OnInitializedAsync()
        {
        try
        {
             feedbacks.AddRange(await _httpClient.GetFromJsonAsync<List<FeedbackMessageModel>>($"admin/ReadFeedBack/{index}"));
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
       
        }
        private async Task LoadMore()
        {
            feedbacks.AddRange(await _httpClient.GetFromJsonAsync<List<FeedbackMessageModel>>($"admin/ReadFeedBack/{index}"));
        }
}