@using Braintree
<PageTitle>Deposit</PageTitle>
<h3>DepositCustomer</h3>
<h3>If you cann't paypal turn your ad block off</h3>

@inject IJSRuntime JS
@page "/Deposit"
@attribute [Authorize(Roles = "Customer")]

@*@if(content == null)
    {
    <div>Loadding</div>
    }
    else
    {
    <div>@content</div>

    }*@

@if (string.IsNullOrEmpty(content))
{
    if (!doneCash)
    {
        <input type="number" step="0.01" min="0.01" @bind="cash" />
        <button @onclick="Cash">Ok</button>
    }
    else
    {
        <div>Deposit @cash</div>
    }

    <div id="dropin-container"></div>
    <form id="payment-form" method="post">
        <!-- Putting the empty container you plan to pass to
                        `braintree.dropin.create` inside a form will make layout and flow
                        easier to manage -->
    <input type="submit" style="@divCSS" />
        <input type="hidden" id="nonce" name="nonce" />
        <input type="hidden" id="cash" name="cash" />
    </form>
    <div id="paypal-button"></div>
}
else
{
    <div>@content</div>
    <button @onclick="Recharge">Recharge</button>
}





