@inject AccountService _accountService
@page "/login"
<PageTitle>MovieTV - Sign in or Register</PageTitle>

<body>

    <div class="container">

        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="https://bvuvolunteers.org/wp-content/uploads/2021/03/coffee-and-keyboard.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="https://bvuvolunteers.org/wp-content/uploads/2021/03/coffee-and-keyboard.jpg"
                    alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form action="#">
                        <div class="input-boxes">
                            <EditForm Model="@login" OnValidSubmit="HandleValidSubmit">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="input-box">
                                    <i class="fas fa-envelope"></i>
                                    <input type="text" @bind="@login.Email" placeholder="Enter your email" required>
                                </div>
                                <div class="input-box">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" @bind="@login.Password" placeholder="Enter your password"
                                        required>
                                </div>
                                <div class="text"><a href="/ResetPassword">Forgot password?</a></div>
                                <div class="button input-box">
                                    <input type="submit" value="Login">
                                </div>
                                <div class="input-box" style="visibility: hidden;">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="input-box" style="visibility: hidden;">
                                    <i class="fas fa-envelope" style="visibility: hidden;"></i>
                                </div>
                                <div class="input-box" style="visibility: hidden;">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text sign-up-text">
                                    Don't have an account? <a href="/SignUp">
                                        <label>
                                            Sigup
                                            now
                                        </label>
                                    </a>
                                </div>
                                @if (alertService.showAlert)
                                {
                                    <MudAlert Severity="alertService.severity" Variant="Variant.Filled"
                                    ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true"
                                    CloseIconClicked="(() => alertService.CloseAlert())">@alertService.content</MudAlert>
                                }
                            </EditForm>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
