
@page "/ResetPassword"


<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="out-panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<h2 class="text-center">Forgot Password?</h2>
						<p>You can reset your password here.</p>
						<div>@content</div>
						<div class="panel-body">

							<EditForm Model="@resetPasswordModel" OnValidSubmit="@HandleValidSubmit">

								<div class="input-box">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
										<input placeholder="email address" class="form-control" @bind="@resetPasswordModel.Email" type="email">
									</div>
								</div>
								<div class="input-boxes">
									<input class="button-input" value="Reset Password" type="submit">
								</div>


							</EditForm>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



@code{
	protected ResetPasswordModel resetPasswordModel = new ResetPasswordModel();
        protected string content;
        protected async Task HandleValidSubmit()
        {
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync<ResetPasswordModel>("user/resetPassword", resetPasswordModel);
            content = await response.Content.ReadAsStringAsync();
        }
}