<h3>ResetPassword</h3>
@page "/ResetPassword"

<EditForm Model="@resetPasswordModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    Email
    <InputText  @bind-Value="@resetPasswordModel.Email"/>
    
    <button type="submit">Submit</button>
</EditForm>

<div>@content</div>


@code {
    protected ResetPasswordModel resetPasswordModel = new ResetPasswordModel();

    protected string content;
    protected async Task HandleValidSubmit()
    {
       var response =  await _httpClient.PostAsJsonAsync<ResetPasswordModel>("user/resetPassword", resetPasswordModel);
       content = await response.Content.ReadAsStringAsync();
    }


}
