name: Format

on:
  push:
    branches:
      - main
jobs:
  format:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      # - uses: actions/cache@v2.1.7
      #   with:
      #     path: |
      #       C:\Users\runneradmin\AppData\Local\Microsoft\dotnet
      #     key: ${{ runner.os }}-format-dotnet-6.0.100.1
      #     restore-keys: |
      #       ${{ runner.os }}-format-dotnet-6.0.100.1

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-quality: 'preview'

      - uses: actions/setup-java@v3.9.0
        with:
          distribution: 'adopt'
          java-version: '11'
          check-latest: true

      - name: Install format
        run: dotnet tool install -g dotnet-format --version "7.*" --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json
        # dotnet tool install -g dotnet-format

      - name: Install tools
        run: |
          # dotnet workload restore
          dotnet workload install android ios maccatalyst tvos macos maui wasm-tools

      - name: Dotnet Restore
        run: dotnet restore

      - name: Formating
        run: |
          dotnet format --no-restore --include-generated -v diag

      - name: Commit files
        if: steps.format.outputs.has-changes == 'true'
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git commit -a -m 'Automated dotnet-format update'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          title: "[housekeeping] Automated PR to fix formatting errors"
          body: |
            Automated PR to fix formatting errors
          committer: GitHub <noreply@github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          labels: t/housekeeping ♻︎

          reviewers: Thuyen21
          branch: housekeeping/fix-codeformatting
